<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>LoL React!</title>
    <script src="javascripts/react.js"></script>
    <script src="javascripts/react-dom.js"></script>
    <script src="https://unpkg.com/babel-core@5.8.38/browser.min.js"></script>
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  </head>
  <body>
    <div class="container">
      <h1 class="header center brown-text ">
        <img class="responsive-img" width="300px" src="images/logo.png"/>
      </h1>
   </div>

    <div class="container">
      <div class="section">
        <div class="row">
          <div class="col offset-s3 s6  brown-text" style="text-align:justify">
            <div id="content"></div>
          </div>
        </div>
      </div>
    </div>
    
    <!--  Scripts-->
    <script src="javascripts/jquery-2.1.4.min.js"></script>
    <script src="javascripts/materialize.min.js"></script>
    <script type="text/babel" src="javascripts/lol-react.js"></script>
  </body>
</html>
